.checkout-wrapper {
  width: 100%;
  padding: 40px 0;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}

.success-message {
  text-align: center;
  color: green;
  font-weight: bold;
  margin-bottom: 40px;
}

.info-section {
  overflow-x: auto;
  margin-bottom: 40px;

  .info-table {
    width: 100%;
    border-collapse: collapse;

    th,
    td {
      padding: 12px 16px;
      text-align: left;
      vertical-align: top;
      border: none;
    }

    th {
      font-size: 16px;
      font-weight: bold;
    }

    td {
      font-size: 14px;
    }
  }
}

.order-details {
  h4 {
    margin-bottom: 20px;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    background-color: #f2f8fa;

    th,
    td {
      padding: 16px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }

    th {
      background-color: #f2f8fa;
      font-weight: bold;
    }

    tr:last-child td {
      font-weight: bold;
    }
  }
}

.summary-row {
  display: flex;
  justify-content: flex-end;
  gap: 40px;
}

.shipping-row {
  flex-direction: column;
  align-items: flex-start;

  .shipping-options {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: flex-end;

    label {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      max-width: 300px;
      font-size: 14px;
      color: #333;
      
      padding: 8px 12px;
      border-radius: 6px;
  

     
    }
  }
}

.end {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.summary-selects {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-end;

  select,
  input {
    padding: 10px;
    border: 1px solid #ccc;
    width: 300px;
  }

  button {
    background: #e6eff1;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
}

@media (max-width: 768px) {
  .info-section {
    .info-table {
      th,
      td {
        padding: 10px;
        font-size: 13px;
      }
    }
  }

  .success-message {
    margin-top: 110px;
  }

  .order-details table {
    th,
    td {
      font-size: 14px;
      padding: 10px;
    }
  }

  .summary-row {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }

  .summary-selects {
    width: 100%;
    align-items: stretch;

    select,
    input,
    button {
      width: 100%;
    }
  }
}
