* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}


.nav-container {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: transparent;
  position: relative;
  z-index: 10;
  padding-top: 20px;

  .nav {
    width: 100%;
    max-width: 1200px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 40px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }

  .nav-logo h2 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }

  .nav-links {
    display: flex;
    gap: 15px;

    a {
      text-decoration: none;
      color: #333;
      font-size: 16px;

      &:hover {
        color: orange;
      }
    }
  }

  .hamburger {
    display: none;
    font-size: 20px;
    cursor: pointer;
    color: #333;
    text-align: end;
  }
}
.store-background {
  background-image: url("/src/banner-bg.jpg");
  background-size: cover;
  background-position: right center;
  background-repeat: no-repeat;
  width: 100%;
  height: 450px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 80px;
}

.latest-products {
  margin-top: 70px;
  font-size: 25px;
  text-align: center;

  p {
    margin-top: 20px;
    font-size: 20px;
    color: rgb(183, 182, 182);
  }
}

.card-section {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 40px;

  .icons {
    display: flex;
    gap: 15px;
    margin-top: 10px;

    i {
      border: 1px solid grey;
      border-radius: 20px;
      padding: 5px;
      background-color: rgb(185, 185, 185);
      color: #fff;
      cursor: pointer;
      transition: background-color 0.3s ease, color 0.3s ease;
    }
    i:hover {
      background-color: #555;
      color: #fff;
    }
  }

  img {
    width: 330px;
    height: 270px;
    background-color: rgb(137, 137, 137);
    object-fit: cover;
  }

  .money {
    margin-top: 10px;
    gap: 10px;
    display: flex;
    span {
      color: rgb(189, 189, 189);
    }
  }
}

@media (max-width: 1200px) {
  .card-section {
    gap: 20px;

    img {
      width: 280px;
      height: 230px;
    }
  }
}

@media (max-width: 900px) {
  .card-section {
    gap: 15px;

    img {
      width: 220px;
      height: 180px;
    }
  }
}

@media (max-width: 600px) {
  .card-section {
    flex-direction: column;
    align-items: center;
    gap: 25px;

    .card {
      width: 90%; 
      max-width: 350px;
    }

    img {
      width: 100%;
      height: auto;
    }
  }
}

@media (max-width: 768px) {
  .nav-container {
    .nav {
      flex-direction: row;
      .nav-links {
        display: none;
      }
      .hamburger {
        display: block;
      }
    }
  }

  .store-background {
    display: none;
  }
}
